*{
    margin: 0;
    padding: 0;
}

.column_list {
    min-height: 300px;
}

.column {
    background: #dfe3e6;
    padding: 10px;
    float: left;
    margin: 20px 0 30px 20px;
    width: 250px;
    border-radius: 3px;
}

.card_mini {
    background: white;
    padding: 5px;
    margin: 5px 0 10px 0;
    border-radius: 4px;
    cursor: pointer;
}

.card-mini__title {
    font: 15px arial;
    color: #17394d;
    font-weight: bold;
}

.modal {
    width: 700px;
    min-height: 450px;
    position: absolute;
    top: 10%;
    left: 20%;
    z-index: 100;
    background: #EBEEF0;
    padding: 15px;
    border-radius: 4px;
}

.modalTitle {
    margin: 0 0 10px 0;
    resize: none;
    background: none;
    border: none;
    font: 30px arial;
    color: #17394D;
    cursor: pointer;
}

.modalAuthorCard {
    position: absolute;
    top: 3%;
    right: 10%;
    font: 14px arial;
    color: #17394D;
}

.modal__description-text {
    font: 14px arial;
    color: black;
    resize: none;
    background: #d7dde2;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    width: 74.5%;
}

.modal__description {
    margin: 10px 0;
}

.modal__description p {
    color: #17394D;
    font: 20px arial;
    margin-bottom: 1%;
}

.modal__comments {
    color: #17394D;
    font: 20px arial;
    margin-bottom: 1%;
    font-weight: bold;
}

.modal__comments-add {
    width: 75%;
    height: 60px;
    font: 14px arial;
    color: black;
    resize: none;
    background: white;
    border: 1px solid #EBEEF0;
    padding: 8px;
    margin-bottom: 1%;
}

.btn-add_comment {
    background: #519839;
    padding: 10px;
    color: white;
    font: 16px arial;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-add_comment:hover {
    background: #357131;
}

.modal__description p:first-child {
    font-size: 18px;
    font-weight: bold;
}

.comment-text {
    margin: 8px 0;
    background: #FFFFFF;
    display: inline-block;
    padding: 10px;
}

.comment-author {
    font: 15px arial;
    color: #17394D;
    font-weight: bold;
}

.modal__actions {
    margin-top: 3%;
    margin-bottom: 2%;
}

.btn-delete-comment {
    background: none;
    border: none;
    color: #6b808c;
    text-decoration: underline;
    cursor: pointer;
}

.btn-delete-comment:hover {
    color: #17394d;
}

.modal__comment p:first-child {
    font-weight: bold;
}

.comment {
    margin-bottom: 2%;
    padding-bottom: 10px;
    border-bottom: 1px solid #CED4D9;
    width: 75%;
}

.btn-modal__close {
    position: absolute;
    right: 1%;
    top: 1%;
    padding: 6px 10px;
    font: 20px arial;
    background: none;
    border: none;
    cursor: pointer;
    color: #8b9095;
}

.btn-modal__close:hover {
    background: #CED4D9;
    border-radius: 50px;
    color: black;
}

.btn-modal__delete {
    position: absolute;
    bottom: 5%;
    right: 2%;
    padding: 8px;
    background: #d9e3e8;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-modal__delete:hover {
    background: #C2CCD1;
}

.welcome__modal_out {
    width: 100%;
    height: 700px;
}

.welcome__modal {
    width: 400px;
    height: 160px;
    position: fixed;
    top: 20%;
    left: 30%;
    z-index: 100;
    background: #DFE3E6;
    border-radius: 3px;
    padding: 15px;
}

.welcome-header {
    font: 24px arial;
    color: #17394d;
    text-align: center;
}

.welcome-text {
    color: #17394d;
    padding: 4px 6px;
    resize: none;
    background: white;
    border: none;
    width: 50%;
    margin: 20px auto;
    display: block;
    font: 18px arial;
    height: 25px;
    text-align: center;
}

.btn-welcome-close {
    background: #8b9095;
    border: none;
    cursor: pointer;
    font: 20px arial;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: -20px;
    padding: 8px 12px;
    border-radius: 5px;
}

.column__title {
    padding: 2px 6px;
    resize: none;
    background: none;
    border: none;
    font: 16px arial;
    font-weight: bold;
    cursor: pointer;
    color: #17394d;
}

.comments-count {
    font: 13px arial;
    color: #6b808c;
}

.comments-count:before {
    content: "\1F4AC";
    margin-right: 6px;
    margin-left: 4px;
    font: 12px arial;
    text-shadow: 0 0 2px black;
    color: white;
}

.btn-addcard {
    background: none;
    border: none;
    cursor: pointer;
    color: #6b808c;
    font: 14px arial;
    margin-top: 10px;
    width: 100%;
    text-align: left;
}

.btn-addcard::before {
    content: "\002B";
    font-size: 20px;
    vertical-align: middle;
    margin-right: 6px;
}

.btn-addcard:hover {
    background: #C3CBD0;
}

.addcard-text{
    padding: 2px 6px;
    resize: none;
    background: white;
    border: none;
    width: 95%;
    border-radius: 3px;
    font: 15px arial;
    min-height: 50px;
}

.btn-addcard-end {
    margin-top: 10px;
    background: #519839;
    padding: 10px;
    color: white;
    font: 15px arial;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-addcard-close {
    margin-left: 10px;
    padding: 6px 10px;
    font: 18px arial;
    background: none;
    border: none;
    cursor: pointer;
    color: #8b9095;
}

.btn-addcard-close:hover {
    background: #CED4D9;
    border-radius: 50px;
    color: black;
}

.btn-addcard-end:hover {
    background: #357131;
}

.download {
    position: absolute;
    top: 40%;
    left: 40%;
    font: 30px arial;
    color: red;
}